<section >
    <ul class="nav nav-pills">
        <li ng-class="{ active:tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)">Home</a>
        </li>
        <li ng-class="{ active:tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)">About</a>
        </li>
        <li ng-class="{ active:tab.isSet(3) }">
            <a href ng-click="tab.setTab(3)">Resume</a>
        </li>
        <li ng-class="{ active:tab.isSet(4) }">
            <a href ng-click="tab.setTab(4)">Contact</a>
        </li>
    </ul>


    <slide-show ng-show="tab.isSet(1)" ></slide-show>

    <about ng-show="tab.isSet(2)"></about>

    <resume ng-show="tab.isSet(3)"></resume>

    <contact ng-show="tab.isSet(4)"></contact>




</section>