body {

    background-color: lightgray;

}
.container{

    position: absolute;
    height: 100%;
    left: 10%;
    width: 80%;
    max-height: 2000px;
    background-color: white;

}
.header{
    position: relative;
    top: 60px;
    left: 55%;
    max-width: 40%;

}
.pic{
    max-width: 100%;
    max-height: 100%;
}
.slideShow {

    position: relative;
    top: 50px;
    left: 10%;
    width: 70%;
    height: 40%;
    border: 5px solid gray ;
    background-color: black;

}
.center {
    text-align:center;
    margin: 0 auto;
    font-size: 40px;
    font-family:serif;
}

.tabs{

    position: relative;
    top: 0%;
    left: 5%;
    max-width: 500px;

}
.enter {
    opacity: 0;
}

.exit {
    opacity: 1;
}